@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
--gainsboro: #cdddddff;
--razzmatazz: #db3069ff;
--orange-web: #ffa400ff;
--shadow: #7b7263ff;
--rich-black-fogra-29: #04080fff;
--glow-yellow: #fce58f;
--cat-black: #3d3a3c;
--warm-glow: #fdbf7b;
--eerie-black: #1E2019;



box-sizing: border-box;
}

.main {
    width: 100%;
}

body {
    cursor: default;
}