@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* home.module.css */

.container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'VT323', monospace;
  background-image: url(../public/images/catman.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: bgPan 90s infinite ease-in-out;
}

.glow-on-hover {
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  position: relative;
}

.glow-on-hover:hover {
  box-shadow: 
    0 0 10px #ffc107,
    0 0 20px #ffc107,
    0 0 30px #ffc107,
    0 0 40px #ffc107;
}


.name-banner {
  text-align: center;
  margin-top: 20px;
}

.name-banner-text {
  font-size: 2rem;
}

.always-span {
  text-align: center;
  font-size: 1.5rem;
}

.message {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
  min-height: 30px;
}

.message-div {
  min-height: 30px;
}

.message-div h2 {
  margin: 0;
}

@keyframes bgPan {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.name-banner-text {
  text-align: center;
  color: #fdf5e2;
  margin-bottom: 10px;
}