.link-boxes-section {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.linkedin, .github {
  display: flex;
  align-items: center;
  justify-content: center;
}