.skills-section {
    width: 200px;   /* adjust this to suit your design */
    background-color: rgba(0, 0, 0, 0.3); /* translucent black background */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);   /* add some depth */
}

.skills-title {
    text-align: center;
    color: #fdf5e2;
    margin-bottom: 10px;
}

.skills-list {
    list-style-type: none;  /* remove bullet points */
    padding: 0;  /* remove default padding */
    height: 200px;  /* adjust this to suit your design */
    overflow-y: auto;  /* add scrollbar if necessary */
    color: #fdf5e2;  /* white text */
}

.skill-item {
    margin-bottom: 10px;
    margin-left: 20px;
}

.skill-item:last-child {
    margin-bottom: 0;   /* remove bottom margin of last item */
}
